################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
*.ncrunchsolution
/.vs/ClientApplication/v15/Server/sqlite3/storage.ide-shm
/.vs/ClientApplication/v15/Server/sqlite3/storage.ide-wal
*.sqlite
*.sqlite-journal
*.cache
bin/
